<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Memetaverse Notifications</title>
</head>

<body style="height: 100%; margin: 0; padding: 0; display: flex; justify-content: center;">
<div style="margin-top: 200px; margin-bottom: 200px; width: 600px; font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;">
    <h1>Unsubscription successful</h1>
    <p>You have been successfully unsubscribed from email notifications of type {{ notificationType }} from
        Memetaverse.</p>
    <p>If you want to get our notifications again, you can re-subscribe by visiting your account.</p>
    <p style="height: 41px; padding-bottom: 8px; display: block; text-align: center;"><a href="{{accountLink}}" style="
                    display: inline-block;
                    background-color: #ff2d55;
                    width: 200px;
                    border-radius: 6px;
                    color: #fff;
                    padding: 10px 20px 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    font-family: system-ui, BlinkMacSystemFont, 'Segoe UI',
                      Roboto, 'Helvetica Neue', Arial, sans-serif;
                  ">Go your account</a>
    </p>
</div>

</body>
</html>