<p style="font-weight: 600; font-size: 14px; margin-bottom: 0;">{{ metadata.title }}</p>
<p style="display: inline; color: #a09ba8; margin: 4px 0; gap: 5px; flex-wrap: wrap; align-items: center;">
    <a href="{{{ metadata.link }}}">
        {{ metadata.description }}
    </a>
</p>
