<p>Your Worlds have scenes deployed that are larger than your available World Storage. Please rectify this within 48hrs to avoid being restricted access to your Worlds. You can either decrease your scene's size or get more storage.
    Learn more <a href="https://docs.memetaverse.club/creator/worlds/about/#worlds-size-limit">here</a>.</p>
