<p>Hello!</p>
<p>You're receiving this email because you signed up for Memetaverse email notifications.</p>
<p>You'll be able to customize exactly what kind of notifications you'd like to receive (e.g., Marketplace, DAO, Events,
    etc.), but you must first confirm your email.</p>

<p style="height: 41px; padding-top: 8px; padding-bottom: 8px;"><a
        href="{{validateButtonLink}}" target="_blank"
        rel="noopener"
        style="
            background-color: #ff2d55;
            width: 365px;
            height: 41px;
            border-radius: 6px;
            color: #fff;
            padding: 12px 44px 12px 44px;
            text-decoration: none;
            font-family: system-ui, BlinkMacSystemFont, 'Segoe UI',
              Roboto, 'Helvetica Neue', Arial, sans-serif;
          ">{{ validateButtonText }}</a>
</p>

<p>Or you can copy and paste this URL into the browser: <a href="{{validateButtonLink}}" style="font-size: 13px;">{{validateButtonLink}}</a>
</p>
